@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
.ProseMirror {
  min-height: 40vh;
  border: 2px solid peru;
  border-radius: 10px;
  outline: none;
  padding: 1em;
}

/* SlashCommands */
.SlashCommandsList {
  position: relative;
  border-radius: 0.25rem;
  background: white;
  color: rgba(black, 0.8);
  overflow: hidden;
  font-size: 0.9rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.SlashCommandsList__ListItem {
  display: block;
  width: 100%;
  text-align: left;
  background: transparent;
  border: none;
  padding: 0.2rem 0.5rem;
}

.SlashCommandsList__ListItem.is-selected,
.SlashCommandsList__ListItem:hover {
  color: #a975ff;
  background: rgba(#a975ff, 0.1);
}

/* Variable */
.ProseMirror .variable {
  border: 1px solid #000;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem;
}

.VariableList {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.9rem;
  overflow: hidden;
  padding: 0.2rem;
  position: relative;
}

.VariableList__ListItem {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  display: block;
  margin: 0;
  padding: 0.2rem 0.4rem;
  text-align: left;
  width: 100%;
}

.VariableList__ListItem.is-selected,
.VariableList__ListItem:hover {
  color: #a975ff;
  background: rgba(#a975ff, 0.1);
}
